body {
    padding-top: 60px;
}

body.login {
    background-color: #eee;
}

.login-box {
    background-color: #fff;
    padding: 20px 40px;
    margin: -20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.title-action-box {
    float: right;
    margin-top: 20px;
}

.largerModal {
    width: 800px;
    margin-left: -400px;
}

.no-margin {
    margin: 0 !important;
}

.row-fluid .span10-5 {
    width: 86.90598290598291%;
}

.row-fluid .span1-5 {
    width: 10.52991452991453%;
}

table form p {
    margin: 0;
    position: relative;
}
table .dropdown {
    margin: 0px;
}
.input-dropdown .dropdown-menu li {
    padding:10px;
    white-space: nowrap;
}
.input-dropdown .dropdown-menu {
    padding: 0px;
}
.input-dropdown .dropdown-menu input.input-first {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius:    4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-right-width: 0px;
}
.input-dropdown .dropdown-menu button {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius:    0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

a.cellLink {
    display:block;
    height:100%;
    width:100%;
}

.colHeader {
    font-weight: bold;
}

.headersBottom table th {
    vertical-align: bottom;
}

.text-vertical {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.clear-text-vertical {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.gridPadding {
    margin-bottom: 200px;
}

.nav-tabs .tab-right {
    float:right;
    margin-left:10px;
    margin-right:0;
}