#modalNewScale.modal.hide.fade(role="dialog", aria-labelledby="modalNewScale", aria-hidden="true", data-backdrop="static")
  .modal-header
    button.close(data-dismiss="modal", aria-hidden="true") x
    h3 New scale
  .modal-body
    form#modalNewScaleForm.form-horizontal.no-margin
      != editors.text(null, 'name', { label: 'Name:', placeholder: '(ex. Java, Sharepoint, etc.)', inputClass: 'input-xlarge', autofocus: true })
  .modal-footer
    button.btn(data-dismiss="modal", aria-hidden="true") Cancel
    button.btn.btn-primary(href="#modalNewScaleForm", data-behavior="submit") Create

#modalRenameScale.modal.hide.fade(role="dialog", aria-labelledby="modalRenameScale", aria-hidden="true", data-backdrop="static")
  .modal-header
    button.close(data-dismiss="modal", aria-hidden="true") x
    h3 Rename scale
  .modal-body
    form#modalRenameScaleForm.form-horizontal.no-margin
      input(type="hidden", name="id")
      input(type="hidden", name="oldValue")
      != editors.text(null, 'name', { label: 'Name:', placeholder: '(ex. Java, Sharepoint, etc.)', inputClass: 'input-xlarge', autofocus: true })
  .modal-footer
    button.btn(data-dismiss="modal", aria-hidden="true") Cancel
    button.btn.btn-primary(href="#modalRenameScaleForm", data-behavior="submit") Rename

#modalDeleteScale.modal.hide.fade(role="dialog", aria-labelledby="modalDeleteScale", aria-hidden="true", data-backdrop="static")
  .modal-header
    button.close(data-dismiss="modal", aria-hidden="true") x
    h3 Delete scale
  .modal-body
    | Are you sure you want to delete&nbsp;
    span#deleteScaleName
    | ?
    form#modalDeleteScaleForm.form-horizontal.no-margin
      input(type="hidden", name="id")
  .modal-footer
    button.btn(data-dismiss="modal", aria-hidden="true") Cancel
    button.btn.btn-danger(href="#modalDeleteScaleForm", data-behavior="submit") Delete

script#scale-tab-template(type="text/x-handlebars-template")
  li
    a(href="#scale{{id}}", data-toggle="tab", data-id="{{id}}")
      {{name}}

script#scale-tab-content-template(type="text/x-handlebars-template")
  .tab-pane(id="scale{{id}}", data-id="{{id}}")
    .row-fluid.text-right(style="margin-bottom: 20px;")
      .span12
        .btn-group
          a.btn.btn-primary.dropdown-toggle(href="#", data-toggle="dropdown")
            | Actions&nbsp;
            span.caret
          ul.dropdown-menu.pull-right.text-left
            li
              a(href="#", data-behavior="renameScale") Rename
            li.divider
            li
              a(href="#", data-behavior="deleteScale")
                span.label.label-important Delete
    .row-fluid
      .span12
        .headersBottom.gridPadding(id="gridScale{{id}}", style="min-height: 350px;")

script#scale-colheader-template(type="text/x-handlebars-template")
  .relative
    .colHeader
      .text-vertical.text-left(style="margin-bottom: 15px; margin-left: 10px; {{#unless profileProject.isActive}}text-decoration: line-through;{{/unless}}")
        {{profileProject.title}}{{#if profileProject.title}} ({{#if column.isBaseline}}UT{{else}}%{{/if}}){{/if}}
      div(style="text-align: center;")
        {{#unless readOnly}}
        <input type="checkbox" data-behavior="checkBaseline" data-column-id="{{column.id}}" class="htCheckboxRendererInput" {{#if column.isBaseline}}checked{{/if}} style="margin-top: 0; margin-right: 5px;">
        .dropdown(style="display:inline;")
          a.btn.btn-mini.dropdown-toggle(href="#", role="button", data-toggle="dropdown")
            span.caret
          ul.dropdown-menu.text-left
            {{#each profileProjects}}
            {{#if id}}
            li
              a(href="#", data-behavior="selectProfileProjectColumn", data-profile-project-id="{{id}}", data-column-id="{{../../column.id}}", data-column-before-id="{{../../before.id}}", style="{{#unless isActive}}text-decoration: line-through;{{/unless}}")
                {{title}}
            {{/if}}
            {{/each}}
            {{#if column.id}}
            li.divider
            li
              a(href="#", data-behavior="removeColumn", data-column-id="{{column.id}}")
                span.label.label-important Remove
            {{/if}}
        {{/unless}}