#modalOpenSnapshot.modal.largerModal.hide.fade(role="dialog", aria-labelledby="modalOpenSnapshot", aria-hidden="true", data-backdrop="static", data-keyboard="false")
  .modal-header
    button.close(data-dismiss="modal", data-target="#modalOpen", aria-hidden="true") x
    h3 Open snapshot
  .modal-body
    include _formOpenSnapshot

  .modal-footer
    button.btn(data-dismiss="modal", aria-hidden="true") Cancel