extends ../layouts/default

block container

  ul.nav.nav-tabs
    li.active
      a(href="#info", data-toggle="tab", data-behavior="persistent") Info
    li
      a(href="#profiles", data-toggle="tab", data-behavior="persistent") Profiles
    li
      a(href="#scales", data-toggle="tab", data-behavior="persistent") Scales
    li
      a(href="#estimations", data-toggle="tab", data-behavior="persistent") Estimations
    li
      a(href="#summary", data-toggle="tab", data-behavior="persistent") Summary

  #content.tab-content
    #info.tab-pane.active
      .row
        .span9
          h1(contenteditable, data-property="projectName")
          h3(contenteditable, data-property="clientName")
        .span3.text-center
          p#createdAt.muted
          .well(style="margin-left: 20px; margin-right: 20px")
            p
              button#btnLockProject.btn(style="width: 150px")
                i.icon-pencil
                span
                  | &nbsp;Lock
            p
              button#btnTakeSnapshot.btn(style="width: 150px")
                i.icon-camera
                | &nbsp;Take a snapshot
            hr
            p
              button#btnDeleteProject.btn.btn-danger(style="width: 150px")
                i.icon-remove.icon-white
                | &nbsp;Delete

    #profiles.tab-pane
      .row
        .span10.offset1
          #profilesInputGrid

    #scales.tab-pane
      .tabbable.tabs-left
        ul#scalesTabs.nav.nav-tabs
        #scalesTabsContent.tab-content

    #estimations.tab-pane
      .row
        .span12
          #estimationsGrid.gridPadding

    #summary.tab-pane
      h3 Summary

      .row
        .span12
          blockquote
            h4(data-property="totalUT")
            h4(data-property="totalPrice")

      .row
        .span12
          #profilesComputedGrid

      .row(style="margin-top: 20px; margin-bottom: 60px;")
        .span6
          #profilesEffortsCharts

block foot

  script#statistics-template(type="text/x-handlebars-template")
    p
      | State:&nbsp;{{stats.state}}
      br
      | Transport:&nbsp;{{stats.getTransport}}
      br
      | Updates:&nbsp;{{stats.numberOfSentUpdates}}&nbsp;sent&nbsp;/&nbsp;{{stats.numberOfReceivedUpdates}}&nbsp;rec.&nbsp;/&nbsp;{{stats.numberOfDiscardedUpdates}}&nbsp;disc.
      br
      | Latency:&nbsp;{{avgLatency}}&nbsp;(avg)&nbsp;/&nbsp;{{stdDevLatency}}&nbsp;(std.&nbsp;dev.)

  include _scales

  script(type="text/javascript", src="/socket.io/socket.io.js")
  != renderJs('project')

  script(type="text/javascript").
    $(function() {
      window.engine = new ProjectEngine('#{project.id}');
      window.engine.init();
    });