extends ../layouts/default

block container

  ul.nav.nav-tabs
    li.active
      a(href="#info", data-toggle="tab", data-behavior="persistent") Info
    li
      a(href="#profiles", data-toggle="tab", data-behavior="persistent") Profiles
    li
      a(href="#scales", data-toggle="tab", data-behavior="persistent") Scales
    li
      a(href="#estimations", data-toggle="tab", data-behavior="persistent") Estimations
    li
      a(href="#summary", data-toggle="tab", data-behavior="persistent") Summary

  #content.tab-content
    #info.tab-pane.active
      .row
        .span9
          h1(contenteditable, data-property="projectName")
          h3(contenteditable, data-property="clientName")
        .span3
          p#createdAt.text-right.muted

    #profiles.tab-pane
      .row
        .span10.offset1
          #profilesGrid

    #scales.tab-pane
      .tabbable.tabs-left
        ul#scalesTabs.nav.nav-tabs
        #scalesTabsContent.tab-content

    #estimations.tab-pane
      .row
        .span12
          #estimationsGrid

    #summary.tab-pane
      h3 Summary

block foot

  include _scales

  script(type="text/javascript", src="/socket.io/socket.io.js")
  != renderJs('project')

  script(type="text/javascript").
    $(function() {
      window.engine = new ProjectEngine('#{project.id}');
      window.engine.init();
    });