extends ../layouts/default

block container

  ul.nav.nav-tabs
    li.active
      a(href="#info", data-toggle="tab", data-behavior="persistent") Info
    li
      a(href="#profiles", data-toggle="tab", data-behavior="persistent") Profiles
    li
      a(href="#scales", data-toggle="tab", data-behavior="persistent") Scales
    li
      a(href="#estimations", data-toggle="tab", data-behavior="persistent") Estimations
    li
      a(href="#summary", data-toggle="tab", data-behavior="persistent") Summary

  #content.tab-content
    #info.tab-pane.active
      .row
        .span9
          h1(contenteditable, data-property="projectName")
          h3(contenteditable, data-property="clientName")
        .span3
          p#createdAt.text-right.muted

    #profiles.tab-pane
      .row
        .span10.offset1
          #profilesGrid

    #scales.tab-pane
      .tabbable.tabs-left
        ul#scalesTabs.nav.nav-tabs
        #scalesTabsContent.tab-content

    #estimations.tab-pane
      .row
        .span12
          #estimationsGrid

    #summary.tab-pane
      h3 Summary

block foot

  #modalNewScale.modal.hide.fade(role="dialog", aria-labelledby="modalNewScale", aria-hidden="true", data-backdrop="static")
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true") x
      h3 New scale
    .modal-body
      form#modalNewScaleForm.form-horizontal.no-margin
        != editors.text(null, 'title', { label: 'Name:', placeholder: '(ex. Java, Sharepoint, etc.)', inputClass: 'input-xlarge', autofocus: true })
    .modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Cancel
      button.btn.btn-primary(href="#modalNewScaleForm", data-behavior="submit") Create

  #modalRenameScale.modal.hide.fade(role="dialog", aria-labelledby="modalRenameScale", aria-hidden="true", data-backdrop="static")
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true") x
      h3 Rename scale
    .modal-body
      form#modalRenameScaleForm.form-horizontal.no-margin
        input(type="hidden", name="id")
        input(type="hidden", name="oldValue")
        != editors.text(null, 'title', { label: 'Name:', placeholder: '(ex. Java, Sharepoint, etc.)', inputClass: 'input-xlarge', autofocus: true })
    .modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Cancel
      button.btn.btn-primary(href="#modalRenameScaleForm", data-behavior="submit") Rename

  #modalDeleteScale.modal.hide.fade(role="dialog", aria-labelledby="modalDeleteScale", aria-hidden="true", data-backdrop="static")
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true") x
      h3 Delete scale
    .modal-body
      | Are you sure you want to delete&nbsp;
      span#deleteScaleName
      | ?
      form#modalDeleteScaleForm.form-horizontal.no-margin
        input(type="hidden", name="id")
    .modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Cancel
      button.btn.btn-danger(href="#modalDeleteScaleForm", data-behavior="submit") Delete

  script(type="text/javascript", src="/socket.io/socket.io.js")
  != renderJs('project')

  script(type="text/javascript").
    $(function() {
      window.engine = new ProjectEngine('#{project.id}');
      window.engine.init();
    });