extends ../layouts/default

block container

  ul.nav.nav-tabs
    li.active
      a(href="#info", data-toggle="tab", data-behavior="persistent") Info
    li
      a(href="#profiles", data-toggle="tab", data-behavior="persistent") Profiles
    li
      a(href="#scales", data-toggle="tab", data-behavior="persistent") Scales
    li
      a(href="#estimations", data-toggle="tab", data-behavior="persistent") Estimations
    li
      a(href="#summary", data-toggle="tab", data-behavior="persistent") Summary
    li#tabUser.tab-right
      a(href="#users", data-toggle="tab", data-behavior="persistent") Users

  #content.tab-content
    #info.tab-pane.active
      .row
        #infoMain.span9

        .span3.text-center
          p#createdAt.muted
          #infoGutter.well(style="margin-left: 20px; margin-right: 20px")

    #profiles.tab-pane
      .tabbable.tabs-left
        ul#profilesTabs.nav.nav-tabs
          li.active
            a(href="#profilePrices", data-toggle="tab") Prices
          li
            a(href="#profileProjects", data-toggle="tab") Projects
        #profilesTabsContent.tab-content
          #profilePrices.tab-pane.active
            .row
              .span10
                #profilePricesInputGrid

          #profileProjects.tab-pane
            .row
              .span10
                #profileProjectsInputGrid.gridPadding

    #scales.tab-pane
      .tabbable.tabs-left
        ul#scalesTabs.nav.nav-tabs
        #scalesTabsContent.tab-content

    #estimations.tab-pane
      .row
        .span12
          #estimationsGrid.gridPadding

    #summary.tab-pane
      .row
        .span6
          blockquote
            h4(data-property="totalUT")
            h4(data-property="totalPrice")

        .span6
          blockquote
            h4(data-property="contingency")

      .row
        .span12
          .tabbable.tabs-left
            ul#summaryTabs.nav.nav-tabs
              li.active
                a(href="#summaryProfilePrices", data-toggle="tab") Profile prices
              li
                a(href="#summaryProfileProjects", data-toggle="tab") Profile projects
              li
                a(href="#summaryScales", data-toggle="tab") Scales

            #summaryTabsContent.tab-content
              #summaryProfilePrices.tab-pane.active
                .row
                  .span10
                    #summaryProfilePricesGrid
                .row(style="margin-top: 20px; margin-bottom: 60px;")
                  .span10.text-center
                    #summaryProfilesPricesChart
              #summaryProfileProjects.tab-pane
                .row
                  .span10
                    #summaryProfileProjectsGrid
                .row(style="margin-top: 20px; margin-bottom: 60px;")
                  .span10.text-center
                    #summaryProfileProjectsChart
              #summaryScales.tab-pane
                .row
                  .span10
                    #summaryScalesGrid
                .row(style="margin-top: 20px; margin-bottom: 60px;")
                  .span5.text-center
                    #summaryScalesUTChart
                  .span5.text-center
                    #summaryScalesPriceChart

    #users.tab-pane
      .row
        .span6
          h3
            | Editors&nbsp;&nbsp;
            a#linkAddEditor.btn.btn-success.btn-mini(href="#", data-behavior="tooltip", title="Add an editor")
              i.icon-plus.icon-white

          #usersWriteList
        .span6
          h3
            | Readers&nbsp;&nbsp;
            a#linkAddReader.btn.btn-success.btn-mini(href="#", data-behavior="tooltip", title="Add a reader")
              i.icon-plus.icon-white

          #usersReadList

block foot

  script#statistics-template(type="text/x-handlebars-template")
    p
      | State:&nbsp;{{stats.state}}
      br
      | Transport:&nbsp;{{stats.getTransport}}
      br
      | Updates:&nbsp;{{stats.numberOfSentUpdates}}&nbsp;sent&nbsp;/&nbsp;{{stats.numberOfReceivedUpdates}}&nbsp;rec.&nbsp;/&nbsp;{{stats.numberOfDiscardedUpdates}}&nbsp;disc.
      br
      | Latency:&nbsp;{{avgLatency}}&nbsp;(avg)&nbsp;/&nbsp;{{stdDevLatency}}&nbsp;(std.&nbsp;dev.)

  include _info
  include _scales
  include _estimationLines
  include _users

  script(type="text/javascript", src="/socket.io/socket.io.js")
  != renderJs('project')

  script(type="text/javascript").
    $(function() {
      window.engine = new ProjectEngine('#{project.id}', '#{req.user.id}');
      window.engine.init(!{snapshot});
    });