doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title #{config.app.name} - #{title}
    meta(name='viewport',  content='width=device-width, initial-scale=1.0')
    != renderStyles()
    block head

  body
    include ../includes/top-menu

    #container.container
      #flashes
        .row
          .span10.offset1
            include ../includes/flash
      #modals

      block container

    include ../includes/bottom-navbar

    != renderJs()
    block foot