#modalNew.modal.largerModal.hide.fade(role="dialog", aria-labelledby="modalNew", aria-hidden="true")
  .modal-header
    button.close(data-dismiss="modal", aria-hidden="true") x
    h3 New project
  .modal-body
    ul.nav.nav-tabs
      li.active
        a(href="#modalNewTabNew", data-toggle="tab", data-form-type="new") New
      li
        a(href="#modalNewTabCopy", data-toggle="tab", data-form-type="copy") Copy from another project

    include _formNew

  .modal-footer
    button.btn(data-dismiss="modal", aria-hidden="true") Cancel
    button.btn.btn-primary(href="#modalNewForm", data-behavior="submit") Create

  script(type="text/javascript").
    $('#modalNew').on('shown', 'a[data-toggle="tab"]', function(e) {
      $('input[name="type"]').val($(e.target).attr('data-form-type'));
    });