.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      ul.nav
        li
          p.navbar-text= pkg.copyright + ' - ' + pkg.version
      ul.nav.pull-right
        li
          p.navbar-text
            i#icon-status
      a.footer-logo(href="http://www.cgi.com") CGI