.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      ul.nav
        li
          p.navbar-text= config.app.copyright + ' - ' + config.app.version
      ul.nav.pull-right
        li
          p.navbar-text
            i#icon-status