.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='/')= config.app.name
      ul.nav
        li.divider-vertical
        li
          a#btnNewProject(href='#') New
        li.divider-vertical
        li
          a#btnOpenProject(href='#') Open

      ul.nav.pull-right
        - if (req.user && req.user.isAdmin)
          li.divider-vertical
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle="dropdown") System
            ul.dropdown-menu
              li
                a(href='/system/users') Users
              li
                a(href='/system/logs') Logs
              li
                a(href='/system/modifications') Modifications
        li.divider-vertical
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle="dropdown")
            i.icon-user
            &nbsp;
            != req.user.username
            b.caret
          ul.dropdown-menu
            li
              a(href='/logout')
                i.icon-off
                |  Logout