doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport',  content='width=device-width, initial-scale=1.0')
    != renderStyles()

  body.login
    .container
        .row
          .offset4.span3
            .login-box
              h3= config.app.name
              include includes/flash
              form(action='/login', method='post')
                .control-group
                    input#username(type='text', name="username", placeholder='Username', autofocus)
                .control-group
                    input#password(type='password', name="password", placeholder='Password')
                .control-group
                  button.btn.btn-primary(type='submit') Login
              a.footer-logo(href="http://www.cgi.com") CGI

    != renderJs()