doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport',  content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    style.
      body {
        padding-top: 60px;
        background-color: #eee;
      }

      .loginBox {
        background-color: #fff;
        padding: 20px 40px;
        margin: -20px;
        -webkit-border-radius: 10px 10px 10px 10px;
           -moz-border-radius: 10px 10px 10px 10px;
                border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

  body
    .container
        .row
          .offset4.span3
            .loginBox
              h3= config.app.name
              form(action='/')
                .control-group
                    input#username(type='text', placeholder='Username', autofocus)
                .control-group
                    input#password(type='password', placeholder='Password')
                .control-group
                  button.btn.btn-primary(type='submit',) Login

    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")